/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  opacity: 0.9;
  box-shadow: 0px -2px 5px #000;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 8px 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-container .footer-left a {
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

.footer-container .footer-right {
  color: #fff;
  max-width: 180px;
}

.footer-container .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
