@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto&display=swap");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: rgba(8, 9, 10, 0.1);
}

:root {
  /* Colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color   */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* fonts */
  --Abel: "Abel", Roboto;
  --Anton: "Anton", Roboto;
  --Josefin: "Josefin", sans-serif;
  --Lexend: "Lexend", Roboto;
  --Livvic: "Livvic", Roboto;
}

/* all global classes */

a {
  text-decoration: none;
  color: var(--text-gray);
}
a > i {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

/* Global classes ends */

/* Navbar */

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.collapse {
  height: 30rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

/* .nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
  } */

.nav .nav-items .nl1:hover {
  background-color: palegreen;
}

.nav .nav-items .nl2:hover {
  background-color: red;
}

.nav .nav-items .nl3:hover {
  background-color: dodgerblue;
}

.nav .nav-items .nl4:hover {
  background-color: red;
}

.nav .nav-items .nl5:hover {
  background-color: palegreen;
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend);
  font-size: 1.6rem;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: #a1c4cf;
  transform: translateY(-3px);
}

/* Nav ends */

.heading {
  text-align: center;
}

.main-container {
  width: 100%;
  height: auto;
  /* height: 100vh; */
  margin: auto;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  /* padding: 1rem; */
  justify-items: center;
  /* overflowx: hidden; */
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  width: 300px;
  margin: 1rem 2rem 1rem 0;
  text-align: center;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: 0;
  outline: 0;
  padding: 12px 15px;
  color: white;
  background-color: slateblue;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* Media Queries */

/* 750 px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .nav-items {
    align-items: center;
  }

  .social {
    align-self: center;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  .main-container {
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    margin: 1rem auto;
  }

  .nav .nav-brand a {
    font-size: 1.3rem;
  }

  .nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0.8rem;
  }
}
